@font-face {
  font-family: "Avante";
  font-weight: bold;
  src: url("../fonts/avanteintbold.eot");
  src: url("../fonts/avanteintbold.eot?#iefix") format("embedded-opentype"), url("../fonts/avanteintbold.woff") format("woff"), url("../fonts/avanteintbold.ttf") format("truetype"), url("../fonts/avanteintbold.svg#DSNoteRegular") format("svg"); }

@font-face {
  font-family: "Avante";
  font-weight: normal;
  src: url("../fonts/avanteintbook.eot");
  src: url("../fonts/avanteintbook.eot?#iefix") format("embedded-opentype"), url("../fonts/avanteintbook.woff") format("woff"), url("../fonts/avanteintbook.ttf") format("truetype"), url("../fonts/avanteintbook.svg#DSNoteRegular") format("svg"); }

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 350px;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 18px;
  /*background: linear-gradient(to bottom, rgba(6, 41, 82, 0.9) 6px,
                                        rgba(6, 41, 82, 0.8) 6px,
                                        rgba(6, 41, 82, 0.9) 20%, rgb(6, 41, 82) 100%),
              linear-gradient(0deg, rgba(6, 41, 82, 0) 60%,
                                    rgba(6, 41, 82, 0.2) 70%,
                                    rgba(6, 41, 82, 0.3) 90%,
                                    rgba(6, 41, 82, 0.4) 100%),
              linear-gradient(-90deg, rgba(6, 41, 82, 0) 60%,
                                      rgba(6, 41, 82, 0.2) 70%,
                                      rgba(6, 41, 82, 0.3) 90%,
                                      rgba(6, 41, 82, 0.4) 100%),
              radial-gradient(circle 100px at 50% 0px, rgba(3, 169, 244, 0.7),
                         rgba(3, 169, 244, 0.8) 50%);
 */
background: linear-gradient(to bottom, rgba(70, 125, 191, 0.2) 180px, transparent 220px, transparent 100%),linear-gradient(to bottom, rgba(6, 41, 82, 0.1) 6px,                                          rgba(6, 41, 82, 0.1) 6px,                                          rgba(6, 41, 82, 0.1) 20%,                                          rgba(6, 41, 82, 0.3) 100%),                linear-gradient(0deg, rgba(6, 41, 82, 0) 60%,                                      rgba(6, 41, 82, 0.05) 70%,                                      rgba(6, 41, 82, 0.07) 90%,                                      rgba(6, 41, 82, 0.1) 100%),                linear-gradient(-90deg, rgba(6, 41, 82, 0) 60%,                                        rgba(6, 41, 82, 0.05) 70%,                                        rgba(6, 41, 82, 0.07) 90%,                                        rgba(6, 41, 82, 0.1) 100%);


 background-origin: padding-box;
  background-clip: border-box;
  background-size: 100%, 100%, 6px 6px, 6px 6px, 100%;
  color: #ffffff; }

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  display: block;
  position: relative;
  margin: 0 30px;
  margin-top: 6px;
  max-width: 1200px;
  min-width: 360px;
  padding: 0 16px;
  background: linear-gradient(to bottom, rgba(70, 125, 191, 0.2) 180px, transparent 220px), linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, white 700px), linear-gradient(0deg, white 0, rgba(249, 249, 249, 0.1) 70%, rgba(249, 249, 249, 0.2) 90%, rgba(90, 76, 76, 0.82) 100%), linear-gradient(-90deg, white 0, rgba(249, 249, 249, 0.1) 70%, rgba(249, 249, 249, 0.2) 90%, rgba(90, 76, 76, 0.81) 100%);
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 100%, 100%, 4px 4px, 4px 4px;
  box-shadow: -3px 0 6px 1px rgba(255, 255, 255, 0.2), 3px 0 6px 1px rgba(255, 255, 255, 0.2);
  color: #2b2a29;
}

.hidden {
  display: none !important; }

.main-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 18px;
  margin-bottom: 24px;
}
.main-header::after {
  content: "";
  display: table;
  clear: both;
}
.main-header__logo {
  position: relative;
  float: left;
  margin-right: 70px;
  margin-bottom: 20px;
  /*filter: drop-shadow(0 0 1px rgba(100, 100, 100, 0.2));*/
}
  .main-header__logo img {
    width: 278px;
    height: 77px; }
  .main-header__logo span {
    position: absolute;
    right: -65px;
    top: 39px;
    color: #002e5e; }

.main-header__contacts {
  margin-top: -18px;
  margin-bottom: 24px;
}
.main-header__search {
  position: relative;
  float: left;
  display: block;
  width: auto;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 24px;
}


.search {
  position: relative;
}
  .search__input {
    width: auto;
    padding: 8px 0;
    padding-left: 17px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 20px;
    border: 1px solid #003366;
    box-sizing: border-box; }

.search__submit {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-bottom: 7px;
  margin-left: 7px;
  margin-right: 1px;
  font-size: 0;
    /*background: #002e5e radial-gradient(circle 25px at 50% bottom, rgba(3, 169, 244, 0.7) 5%, #002e5e 72%, #002e5e 90%, rgba(3, 169, 244, 0.7) 100%);*/
    /*border: 1px solid rgba(1, 45, 91, 0.85);*/
    /*border-radius: 50%;*/
    /*box-shadow: 0 0 0 1px rgba(143, 158, 173, 0.61);*/
  border: none;
  background:none;
  opacity: 0.9;
  background-image: url(../img/icons/search.svg);
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
  .search__submit:hover {
    opacity: 1; }
  .search__submit:active {
    opacity: 1;
    box-shadow: 0 0 0 2px rgba(143, 158, 173, 0.61); }

/*.search__submit::after{
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;

}*/
.search__submit-svg {
  position: absolute;
  top: 4px;
  left: 4px;
  fill: #fff; }

.main-menu {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  background-color: #012d5b;
  background: #002e5e linear-gradient(#002e5e 0%, rgba(3, 169, 244, 0.54) 45%, #002e5e 82%);
  color: #ffffff;
  box-shadow: inset 2px 2px 8px 0px #012d5b, inset -2px -2px 8px 0px #012d5b; }
  .main-menu ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none; }
  .main-menu li {
    padding: 10px 30px;
    font-size: 14px;
    font-family: "HeliosC","Arial",sans-serif; }
  .main-menu li,
  .main-menu a {
    position: relative;
    color: #ffffff;
    text-decoration: none; }
/*  .main-menu li + li::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 18px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2); }*/
  .main-menu li:hover,
  .main-menu li.active {
    background: radial-gradient(ellipse 40% 60%, rgba(3, 169, 244, 0.4) 25%, rgba(22, 82, 147, 0.1) 100%), linear-gradient(#002e5e 0%, rgba(3, 169, 244, 0.54) 45%, #002e5e 82%); }

.main-menu .catalog {
  width: 129px;
  background: #e0a446 linear-gradient(#7D4F05 0%, rgba(224, 164, 70, 0.54) 45%, #7D4F05 82%);
  font-size: 16px;

  text-align: center;
}
.page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start; }

.page__left-widget {
  -ms-flex-order: 1;
      order: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%; }

.page__right-widget {
  -ms-flex-order: 3;
      order: 3;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%; }

.page__content {
  -ms-flex-order: 2;
      order: 2;
  -ms-flex-positive: 3;
      flex-grow: 3;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%; }

.promo-block {
  width: auto;
  background-color: #012d5b;
  border-top: 5px solid #517faf;
  border-left: 5px solid #204e7e;
  border-right: 5px solid #000103;
  border-bottom: 5px solid #000103;
  box-shadow: inset 0px 0px 1px;
  color: #ffffff;
}
.promo-block__menu-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0 5px 0 5px;
  padding: 0;
  list-style: none;
}
  .promo-block__menu-item a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
    color: #ffffff;
    text-decoration: none; }
.promo-block__menu-caption {
  display: block;
  width: 100%;
  margin: 10px auto;
  max-height: 18px;
  padding: 27px 0;
  color: #ffffff;
  text-decoration: none;
  background-color: #002e5e;
  background: #002e5e linear-gradient(#165293 15%, #002e5e 55%);
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 #165293;
}
.promo-block__menu-img {
  width: 190px;
  height: 114px;
}

.promo-block__menu-item:hover .promo-block__menu-caption {
  background: radial-gradient(ellipse 40% 60%, rgba(3, 169, 244, 0.4) 25%, rgba(22, 82, 147, 0.1) 100%), linear-gradient(#165293 15%, rgba(0, 46, 94, 0.81) 55%);
}

.promo-block__menu-item:hover .promo-block__menu-img {
  box-shadow: 0 1px 10px 0 rgba(3, 169, 244, 0.9);
}
/** slider **/

@-webkit-keyframes magnific {
  0% {
    -webkit-transform:  scale(1.8);
            transform:  scale(1.8);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

@keyframes magnific {
  0% {
    -webkit-transform:  scale(1.8);
            transform:  scale(1.8);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

.slider {
  position: relative;
  display: block;
  width: 811px;
  height: 330px;
  padding: 1px;
  margin-bottom: 10px;
  background-color: #3d5878;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.slides {
  position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;

  margin: 0;
  z-index: 1;
  opacity: 0;
}

.slide a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide--show {
 opacity: 1;
  z-index: 2;
  -webkit-animation: magnific 0.7s;
  animation: magnific 5s;
}

.controls {
  position: absolute;
  right: 4px;
  top: 4px;
  display: block;
  z-index: 40;
}

.controls__button {
  position: relative;
  display: inline-block;
  font-size: 0;
  border: none;
  width: 22px;
  height: 20px;
  vertical-align: top;
  cursor: pointer;
  outline:none;
  background: none;
}

.controls__button:active {
 -webkit-transform: scale(1.2);
         transform: scale(1.2);
}

.previous::before,
.previous::after,
.next::before,
.next::after,
.pause-play::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border: 10px solid transparent;
}

.previous::before {
 left: -9px;
 border-right-color: #444;
}

.previous::after {
  left: 2px;
  border-right-color: #444;
}

.next::before {
 right: -9px;
 border-left-color: #444;

}
.next::after {
 right: 2px;
 border-left-color: #444;
}

.previous:hover::before,
.previous:hover::after {
 border-right-color: #b7b5b5;
}

.next:hover::before,
.next:hover::after {
 border-left-color: #b7b5b5;
}

.pause::before {
  width: 5px;
  left: 4px;
  top: 1px;
  height: 18px;
  border: none;
  border-left: 5px solid #444;
  border-right: 5px solid #444;
}

.pause:hover::before {
  border-left-color: #b7b5b5;
  border-right-color: #b7b5b5;
}

.play::before {
  content: "";
  width: 0;
  left: 6px;
  top: 1px;
  border-left: 14px solid #444;
}

.play:hover::before {
  border-left-color: #b7b5b5;
}
/** /slider **/
.sidebar-menu {
  min-width: 190px;
  max-width: 240px; }

.sidebar-menu a {
  text-decoration: none;
  color: #333333; }
  .sidebar-menu a:hover {
    color: #002e5e; }

.sidebar-menu__caption {
  width: 100%;
  height: 31px;
  font-weight: normal;
  line-height: 31px;
  text-indent: 12px;
  font-size: 18px;
  color: #002e5e;
  border-radius: 25px;
  background: url(../images/h3.png) no-repeat left top;
  background-image: linear-gradient(to right, rgba(86, 139, 195, 0.2), transparent 50%); }

.sidebar-menu__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-menu__item {
  position: relative;
  padding-left: 12px;
  margin-bottom: 4px; }
  .sidebar-menu__item:hover {
    position: relative;
    background-image: linear-gradient(to left, rgba(86, 139, 195, 0.2), transparent 50%); }
  .sidebar-menu__item:hover ul {
    display: block;
    position: absolute;
    left: 190px;
    background-color: #f9f9f9;
    border-radius: 1px;
    padding-left: 12px;
    background-image: linear-gradient(to right, rgba(86, 139, 195, 0.2), transparent 50%);
    z-index: 10;
    box-shadow: 1px 1px 10px 1px rgba(86, 139, 195, 0.5);
    z-index: 10;
    overflow: auto; }
  .sidebar-menu__item:hover::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 5px;
    left: 5px;
    border: 3px solid transparent;
    border-left: 3px solid #002e5e; }

.sidebar-menu__item ul {
  position: absolute;
  top: 0;
  left: 190px;
  display: none;
  width: 150px;
  height: auto; }
  .sidebar-menu__item ul:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 7px;
    left: -15px;
    color: #002e5e;
    border: 3px solid transparent;
    border-left: 3px solid #002e5e; }

.phone-block__tel {
  position: relative;
  display: block;
  padding-left: 38px;
  font-size: 24px;
  line-height: 32px;
  font-family: "Avante", "Arial", sans-serif;
  color: #666;
  text-decoration: none; }
  .phone-block__tel b {
    color: #333; }
  .phone-block__tel:hover .phone-block__tel-wrapper-svg {
    opacity: 1; }

.phone-block__tel-wrapper-svg {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 32px;
  height: 32px;
  font-size: 0;
  /*background: #002e5e radial-gradient(circle 25px at 50% bottom, rgba(3, 169, 244, 0.7) 5%, #002e5e 72%, #002e5e 90%, rgba(3, 169, 244, 0.7) 100%);
  border: 1px solid rgba(1, 45, 91, 0.85);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(143, 158, 173, 0.61);
 */ box-sizing: border-box;
 transform: rotate(30deg);
  opacity: 0.9; }

.phone-block__tel-svg {
  position: absolute;
  top: 4px;
  left: 4px;
  fill: #fff; }

.phone-block__working-hours {
  font-size: 15px;
  line-height: 40px;
  float: right; }






